---
import { Icon } from 'astro-icon'
import { getCollection } from 'astro:content'
import Card from '../components/Card.astro'
import HeadedCard from '../components/HeadedCard.astro'
import PostsDisplay from '../components/PostsDisplay.astro'
import Projects from '../components/Projects.astro'
import Rainbow from '../components/Rainbow.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import { getPosts } from '../utils/funcs'

const blogPosts = (await getPosts()).slice(0, 5)

const forevers = await getCollection('forever')
const order = ['past', 'now', 'future']
forevers.sort((a, b) => {
  const aIndex = order.indexOf(a.slug)
  const bIndex = order.indexOf(b.slug)

  if (aIndex === -1) return 1
  if (bIndex === -1) return -1

  return aIndex - bIndex
})

const city =
  import.meta.env.PROD || true
    ? (
        await (
          await fetch(
            `https://nomadlist.com/@thomasforbes.json?key=${
              import.meta.env.NOMADLIST_API_KEY
            }`
          )
        ).json()
      ).location.now.city
    : undefined
---

<Layout title="Thomas Forbes">
  <!-- MAIN -->
  <Section>
    <h1
      class="rainbow-text cursor-pointer select-none text-center text-7xl font-bold duration-300 hover:rotate-2 hover:scale-[1.03] md:text-8xl"
      id="thomasforbes"
    >
      Thomas Forbes
    </h1>
    <p class="font-sans text-xl font-semibold text-slate-100 sm:text-2xl">
      ⚒️ Building quality things <i>fast</i> 💨
    </p>
    <div class="flex flex-col gap-8 md:flex-row">
      <!-- BULLETS -->
      <Card class="flex-shrink-0 !bg-sky-950/60">
        <ul class="grid h-full grid-cols-2 gap-2 sm:grid-cols-4 md:grid-cols-1">
          {
            [
              { emoji: '🇮🇪🇺🇸', text: 'Citizen' },
              { emoji: '🌍', text: city || 'Somewhere' },
              { emoji: '💻', text: 'Developer' },
              {
                emoji: '🗓️',
                text: `${Math.abs(
                  new Date(
                    Date.now() - new Date(2005, 8, 10).getTime()
                  ).getUTCFullYear() - 1970
                )} years old`,
              },
            ].map((item) => (
              <li class="flex items-center space-x-2 text-left font-sans-serif text-base font-semibold sm:text-lg md:text-xl">
                <span class="inline-block w-8 text-center sm:w-auto md:w-12">
                  {item.emoji}
                </span>
                <span>{item.text}</span>
              </li>
            ))
          }
        </ul>
      </Card>
      <!-- TEXT -->
      <Card
        class="space-y-6 !bg-indigo-950/60 text-justify text-base [&>p>b]:text-slate-100 [&>p]:text-gray-300"
      >
        <p>
          My <b>favourite feeling</b> is coming home on the train after <i
            >squeezing all the productivity out of my brain</i
          > and being able to point to a thing and say <b>"I made that"</b>.
        </p>
        <p>
          I <b>love</b> to work on interesting projects and have a <i>need</i> to
          work <b>hard and fast</b>.
        </p>
      </Card>
    </div>
  </Section>
  <!-- ABOUT -->
  <Section>
    <HeadedCard title="About" class="flex flex-col items-center">
      <ul
        class="flex w-full flex-row flex-wrap items-center justify-between gap-5"
      >
        {
          forevers.map((item, i) => (
            <a
              href={`/${item.slug}`}
              class="group text-xl font-semibold no-underline"
            >
              <Rainbow>{item.data.title}</Rainbow>
            </a>
          ))
        }
      </ul>
    </HeadedCard>
  </Section>
  <!-- WRITING -->
  <Section>
    <PostsDisplay title="Blog →" link="/blog" posts={blogPosts} />
  </Section>
  <!-- PROJECTS -->
  <Section>
    <HeadedCard class="w-full space-y-8" title="Projects">
      <Projects />
    </HeadedCard>
  </Section>

  <!-- CTA -->
  <Section>
    <h2>Want to learn more?</h2>
    <p class="text-lg text-slate-200">
      I'm always looking for new opportunities and <br />new people to meet <a
        href="/contact"
        class="group no-underline"><Rainbow>contact me!</Rainbow></a
      >
    </p>
    <!-- <div class="space-y-2 [&>p>a]:text-slate-300">
      <p>
        You may also want to check out <a href="/cv">my cv</a> or <a
          href="/uses">the things I use</a
        >.
      </p>
      <p>If you're ever in {city || 'Dublin'}, let's hang out.</p>
    </div> -->
  </Section>

  <style>
    .rainbow-text {
      @apply !bg-clip-text text-transparent;
      background: linear-gradient(
        238deg,
        theme('colors.sky.600') 0%,
        theme('colors.indigo.500') 15%,
        theme('colors.rose.500') 50%,
        theme('colors.indigo.500') 85%,
        theme('colors.sky.600') 100%
      );
      background-size: 400%;
      animation: rainbow-text-animation 4s ease infinite;
    }

    @keyframes rainbow-text-animation {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
  </style>

  <script>
    const h1 = document.getElementById('thomasforbes')!
    let pop = new Audio('/assets/sounds/pop.m4a')
    let bomb = new Audio('/assets/sounds/bomb.mp3')

    h1.onclick = () => {
      pop = new Audio('/assets/sounds/pop.m4a')
      bomb = new Audio('/assets/sounds/bomb.mp3')
      const audio = Math.random() > 0.1 ? pop : bomb

      h1.classList.toggle('hover:rotate-2')
      h1.classList.toggle('hover:-rotate-2')

      audio.volume = 0.2
      audio.play()
    }
  </script>
</Layout>
