---
import Layout from '../layouts/Layout.astro'
import Section from '../components/Section.astro'
import { formatDate } from '../utils/funcs'

const sectionClass = '!items-start space-y-4 text-left'
const subsectionClass = 'space-y-2'
---

<Layout title="/uses - Thomas Forbes">
  <Section class="space-y-4">
    <h1>Things I use</h1>
    <p>
      Not an exhaustive list. Last updated {formatDate(new Date(), true)}
    </p>
  </Section>
  <Section class={sectionClass}>
    <h2 class="text-sky-400">Software</h2>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3">
      <div class={subsectionClass}>
        <h3>Tech Stack</h3>
        <ul>
          <li>Next.js (dynamic sites)</li>
          <li>React (ui framework)</li>
          <li>Astro (static sites)</li>
          <li>React Native (mobile apps)</li>
          <li>Tailwind CSS</li>
          <li>tRPC (end-to-end typesafe APIs)</li>
        </ul>
      </div>
      <div class={subsectionClass}>
        <h3>Tech Platforms</h3>
        <ul>
          <li>Vercel (hosting)</li>
          <li>Planetscale (database)</li>
        </ul>
      </div>

      <div class={subsectionClass}>
        <h3>Dev Tools</h3>
        <ul>
          <li>VS Code (+ vim extension)</li>
          <li>Vim</li>
          <li>GitHub Copilot</li>
          <li>pnpm</li>
          <li>zsh</li>
          <li>iTerm 2</li>
        </ul>
      </div>

      <div class={subsectionClass}>
        <h3>Social</h3>
        <ul>
          <li>Signal</li>
          <li>Whatsapp</li>
          <li><a href="https://twitter.com/ThomasForbesy">Twitter</a></li>
        </ul>
      </div>

      <div class={subsectionClass}>
        <h3>Productivity</h3>
        <ul>
          <li>Todoist</li>
          <li>Notion</li>
          <li>Drafts (ingest)</li>
          <li>Voice memos (ingest)</li>
          <li>Cron (calendar)</li>
        </ul>
      </div>

      <div class={subsectionClass}>
        <h3>General</h3>
        <ul>
          <li>Arc (browser)</li>
          <li>Apple music</li>
          <li>
            <a href="https://reederapp.com/" target="_blank">Reeder (rss)</a>
          </li>
          <li>Overcast (podcasts)</li>
        </ul>
      </div>
    </div>
  </Section>
  <div
    class="grid w-full max-w-4xl grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3"
  >
    <Section class={sectionClass}>
      <h2 class="text-indigo-400">Hardware</h2>
      <ul>
        <li>M1 Macbook Air</li>
        <li>iPad Mini 6th generation</li>
        <li>iPhone 12 mini</li>
        <li>Apple watch SE 2</li>
        <li>Flipper Zero</li>
        <li>
          <a
            href="https://www.amazon.co.uk/gp/product/B08CKXNJZS/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1"
            target="_blank">Anker 6 in 1 dongle</a
          >
        </li>
        <li>
          <a
            href="https://www.anker.com/products/a2046?variant=42448630612118&listingPlan=b"
            target="_blank">Anker 543 4 port charger</a
          >
        </li>
        <li>
          <a href="https://www.amazon.com/dp/B096TP4B1T"
            >Anker 10k mAh power bank</a
          >
        </li>
      </ul>
    </Section>
    <Section class={sectionClass}>
      <h2 class="text-rose-500">Consumables</h2>
      <ul>
        <li>
          <a
            href="https://huel.mention-me.com/m/ol/zb3la-thomas-forbes"
            target="_blank">Huel (powder + bars)</a
          >
        </li>
        <li>
          <a href="https://athleticgreens.com/en" target="_blank">AG 1</a>
        </li>
        <li>Creatine</li>
        <li>L-Tyrosine</li>
        <li>Theanine (calm for sleep)</li>
      </ul>
    </Section>
    <Section class={sectionClass}>
      <h2 class="text-emerald-400"><i>Things</i></h2>
      <ul>
        <li>
          <a
            href="https://www.aersf.com/travel-pack-3-xpac-black"
            target="_blank">Aer travel pack 3</a
          >
        </li>
        <li>
          <a
            href="https://outlier.nyc/collections/shirts/products/ultrafine-cut-two-t-shirt"
            target="_blank">Merino wool t-shirts</a
          >
        </li>
        <li>
          <a
            href="https://shop.lululemon.com/p/men-shorts/License-to-Train-Linerless-Short-5/_/prod11130328?color=0001&sz=M"
            target="_blank">Shorts</a
          >
        </li>
        <li>
          <a
            href="https://shop.lululemon.com/p/men-joggers/Abc-Jogger/_/prod8530240?color=0001&sz=M"
            target="_blank">Pants</a
          >
        </li>
      </ul>
    </Section>
  </div>
</Layout>

<style>
  ul {
    @apply w-full px-4 text-left;
  }
  li {
    @apply list-inside list-disc text-slate-300;
  }
  h3 {
    @apply text-slate-200;
  }
</style>
